linkedTemplates/ArmTemplate_0.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "ujuestaradf"
        },
        "AzureBlobStorageadf_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'AzureBlobStorageadf'"
        },
        "AzureSqlDatabase1_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
        },
        "AzureSqlDatabase1_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "ujuserver.database.windows.net"
        },
        "AzureSqlDatabase1_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "estherdatabase"
        },
        "AzureSqlDatabase1_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "esther"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/AzureBlobStorageadf')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[parameters('AzureBlobStorageadf_connectionString')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
                    "database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
                    "encrypt": "mandatory",
                    "trustServerCertificate": false,
                    "authenticationType": "SQL",
                    "userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('AzureSqlDatabase1_password')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DestinationDataset_jos')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorageadf",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "csv file staging data",
                        "container": "adfblobstorage"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageadf')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/SourceDataset_jos')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorageadf",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "csv file.csv",
                        "container": "estherblob"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "row_id",
                        "type": "String"
                    },
                    {
                        "name": "id",
                        "type": "String"
                    },
                    {
                        "name": "State_Code",
                        "type": "String"
                    },
                    {
                        "name": "State_Name",
                        "type": "String"
                    },
                    {
                        "name": "State_ab",
                        "type": "String"
                    },
                    {
                        "name": "County",
                        "type": "String"
                    },
                    {
                        "name": "City",
                        "type": "String"
                    },
                    {
                        "name": "Place",
                        "type": "String"
                    },
                    {
                        "name": "Type",
                        "type": "String"
                    },
                    {
                        "name": "Primary",
                        "type": "String"
                    },
                    {
                        "name": "Zip_Code",
                        "type": "String"
                    },
                    {
                        "name": "Area_Code",
                        "type": "String"
                    },
                    {
                        "name": "ALand",
                        "type": "String"
                    },
                    {
                        "name": "AWater",
                        "type": "String"
                    },
                    {
                        "name": "Lat",
                        "type": "String"
                    },
                    {
                        "name": "Lon",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageadf')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/SourceDataset_x46')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorageadf",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "csv file staging data",
                        "container": "adfblobstorage"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "row_id",
                        "type": "String"
                    },
                    {
                        "name": "id",
                        "type": "String"
                    },
                    {
                        "name": "State_Code",
                        "type": "String"
                    },
                    {
                        "name": "State_Name",
                        "type": "String"
                    },
                    {
                        "name": "State_ab",
                        "type": "String"
                    },
                    {
                        "name": "County",
                        "type": "String"
                    },
                    {
                        "name": "City",
                        "type": "String"
                    },
                    {
                        "name": "Place",
                        "type": "String"
                    },
                    {
                        "name": "Type",
                        "type": "String"
                    },
                    {
                        "name": "Primary",
                        "type": "String"
                    },
                    {
                        "name": "Zip_Code",
                        "type": "String"
                    },
                    {
                        "name": "Area_Code",
                        "type": "String"
                    },
                    {
                        "name": "ALand",
                        "type": "String"
                    },
                    {
                        "name": "AWater",
                        "type": "String"
                    },
                    {
                        "name": "Lat",
                        "type": "String"
                    },
                    {
                        "name": "Lon",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageadf')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DestinationDataset_x46')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase1",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [],
                "typeProperties": {
                    "schema": "staging",
                    "table": "landdata"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PayPalPayments')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorageadf",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "PayPal Payments.csv",
                        "container": "adfblobstorage"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "id",
                        "type": "String"
                    },
                    {
                        "name": "Created date (UTC)",
                        "type": "String"
                    },
                    {
                        "name": "Amount",
                        "type": "String"
                    },
                    {
                        "name": "Amount Refunded",
                        "type": "String"
                    },
                    {
                        "name": "Currency",
                        "type": "String"
                    },
                    {
                        "name": "Captured",
                        "type": "String"
                    },
                    {
                        "name": "Converted Amount",
                        "type": "String"
                    },
                    {
                        "name": "Converted Amount Refunded",
                        "type": "String"
                    },
                    {
                        "name": "Converted Currency",
                        "type": "String"
                    },
                    {
                        "name": "Description",
                        "type": "String"
                    },
                    {
                        "name": "Fee",
                        "type": "String"
                    },
                    {
                        "name": "Status",
                        "type": "String"
                    },
                    {
                        "name": "Seller Message",
                        "type": "String"
                    },
                    {
                        "name": "Card ID",
                        "type": "String"
                    },
                    {
                        "name": "Customer ID",
                        "type": "String"
                    },
                    {
                        "name": "Invoice ID",
                        "type": "String"
                    },
                    {
                        "name": "Transfer",
                        "type": "String"
                    },
                    {
                        "name": "price_id (metadata)",
                        "type": "String"
                    },
                    {
                        "name": "product_id (metadata)",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageadf')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorageadf",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "container": "adfblobstorage"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "id",
                        "type": "String"
                    },
                    {
                        "name": "Created date (UTC)",
                        "type": "String"
                    },
                    {
                        "name": "Amount",
                        "type": "String"
                    },
                    {
                        "name": "Amount Refunded",
                        "type": "String"
                    },
                    {
                        "name": "Currency",
                        "type": "String"
                    },
                    {
                        "name": "Captured",
                        "type": "String"
                    },
                    {
                        "name": "Converted Amount",
                        "type": "String"
                    },
                    {
                        "name": "Converted Amount Refunded",
                        "type": "String"
                    },
                    {
                        "name": "Converted Currency",
                        "type": "String"
                    },
                    {
                        "name": "Description",
                        "type": "String"
                    },
                    {
                        "name": "Fee",
                        "type": "String"
                    },
                    {
                        "name": "Status",
                        "type": "String"
                    },
                    {
                        "name": "Seller Message",
                        "type": "String"
                    },
                    {
                        "name": "Card ID",
                        "type": "String"
                    },
                    {
                        "name": "Customer ID",
                        "type": "String"
                    },
                    {
                        "name": "Invoice ID",
                        "type": "String"
                    },
                    {
                        "name": "Transfer",
                        "type": "String"
                    },
                    {
                        "name": "price_id (metadata)",
                        "type": "String"
                    },
                    {
                        "name": "product_id (metadata)",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageadf')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PayPalProducts')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorageadf",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "Products.csv",
                        "container": "adfblobstorage"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "id",
                        "type": "String"
                    },
                    {
                        "name": "Name",
                        "type": "String"
                    },
                    {
                        "name": "Date (UTC)",
                        "type": "String"
                    },
                    {
                        "name": "Tax Code",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageadf')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DelimitedText4')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorageadf",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "Products.csv",
                        "container": "estherblob"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "id",
                        "type": "String"
                    },
                    {
                        "name": "Name",
                        "type": "String"
                    },
                    {
                        "name": "Date (UTC)",
                        "type": "String"
                    },
                    {
                        "name": "Tax Code",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageadf')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorageadf",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "PayPal Payments.csv",
                        "container": "estherblob"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "id",
                        "type": "String"
                    },
                    {
                        "name": "Created date (UTC)",
                        "type": "String"
                    },
                    {
                        "name": "Amount",
                        "type": "String"
                    },
                    {
                        "name": "Amount Refunded",
                        "type": "String"
                    },
                    {
                        "name": "Currency",
                        "type": "String"
                    },
                    {
                        "name": "Captured",
                        "type": "String"
                    },
                    {
                        "name": "Converted Amount",
                        "type": "String"
                    },
                    {
                        "name": "Converted Amount Refunded",
                        "type": "String"
                    },
                    {
                        "name": "Converted Currency",
                        "type": "String"
                    },
                    {
                        "name": "Description",
                        "type": "String"
                    },
                    {
                        "name": "Fee",
                        "type": "String"
                    },
                    {
                        "name": "Status",
                        "type": "String"
                    },
                    {
                        "name": "Seller Message",
                        "type": "String"
                    },
                    {
                        "name": "Card ID",
                        "type": "String"
                    },
                    {
                        "name": "Customer ID",
                        "type": "String"
                    },
                    {
                        "name": "Invoice ID",
                        "type": "String"
                    },
                    {
                        "name": "Transfer",
                        "type": "String"
                    },
                    {
                        "name": "price_id (metadata)",
                        "type": "String"
                    },
                    {
                        "name": "product_id (metadata)",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageadf')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DelimitedText5')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorageadf",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "container": "adfblobstorage"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageadf')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorageadf",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "container": "adfblobstorage"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageadf')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ExportToCsv')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "linkedService": {
                                "referenceName": "AzureSqlDatabase1",
                                "type": "LinkedServiceReference"
                            },
                            "name": "source1"
                        }
                    ],
                    "sinks": [
                        {
                            "linkedService": {
                                "referenceName": "AzureBlobStorageadf",
                                "type": "LinkedServiceReference"
                            },
                            "name": "export"
                        }
                    ],
                    "transformations": [],
                    "scriptLines": [
                        "source(allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     format: 'query',",
                        "     store: 'sqlserver',",
                        "     query: 'SELECT [product_id (metadata)],[Amount]\\nFROM [estherdatabase].staging.[PayPalData]',",
                        "     isolationLevel: 'READ_UNCOMMITTED') ~> source1",
                        "source1 sink(allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     format: 'delimited',",
                        "     container: 'estherblob',",
                        "     columnDelimiter: ',',",
                        "     escapeChar: '\\\\',",
                        "     quoteChar: '\\\"',",
                        "     columnNamesAsHeader: false,",
                        "     skipDuplicateMapInputs: true,",
                        "     skipDuplicateMapOutputs: true) ~> export"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageadf')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Copy_file_Pipeline_jos')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy_jos",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [
                            {
                                "name": "Source",
                                "value": "estherblob//csv file.csv"
                            },
                            {
                                "name": "Destination",
                                "value": "adfblobstorage//csv file staging data"
                            }
                        ],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings",
                                    "skipLineCount": 0
                                }
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobStorageWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".txt"
                                }
                            },
                            "enableStaging": false,
                            "validateDataConsistency": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SourceDataset_jos",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DestinationDataset_jos",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-10-10T14:15:17Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/SourceDataset_jos')]",
                "[concat(variables('factoryId'), '/datasets/DestinationDataset_jos')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/BlobtoDatabase')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy_x46",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [
                            {
                                "name": "Source",
                                "value": "adfblobstorage//csv file staging data"
                            },
                            {
                                "name": "Destination",
                                "value": "staging.landdata"
                            }
                        ],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings",
                                    "skipLineCount": 0
                                }
                            },
                            "sink": {
                                "type": "AzureSqlSink",
                                "tableOption": "autoCreate"
                            },
                            "enableStaging": false,
                            "validateDataConsistency": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "mappings": [
                                    {
                                        "source": {
                                            "name": "row_id",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "row_id",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "id",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "id",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "State_Code",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "State_Code",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "State_Name",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "State_Name",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "State_ab",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "State_ab",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "County",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "County",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "City",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "City",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Place",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Place",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Type",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Type",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Primary",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Primary",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Zip_Code",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Zip_Code",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Area_Code",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Area_Code",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "ALand",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "ALand",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "AWater",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "AWater",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Lat",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Lat",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "Lon",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "Lon",
                                            "type": "String",
                                            "physicalType": "nvarchar"
                                        }
                                    }
                                ],
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SourceDataset_x46",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DestinationDataset_x46",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-10-10T14:57:16Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/SourceDataset_x46')]",
                "[concat(variables('factoryId'), '/datasets/DestinationDataset_x46')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PayPalTransformation')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "PayPalPayments",
                                "type": "DatasetReference"
                            },
                            "name": "PayPalTransactions"
                        },
                        {
                            "dataset": {
                                "referenceName": "PayPalProducts",
                                "type": "DatasetReference"
                            },
                            "name": "PayPalProducts"
                        }
                    ],
                    "sinks": [
                        {
                            "linkedService": {
                                "referenceName": "AzureSqlDatabase1",
                                "type": "LinkedServiceReference"
                            },
                            "name": "TransferToDB"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "PayPalJoin"
                        },
                        {
                            "name": "StatusFilter"
                        }
                    ],
                    "scriptLines": [
                        "source(output(",
                        "          id as string,",
                        "          {Created date (UTC)} as string,",
                        "          Amount as string,",
                        "          {Amount Refunded} as string,",
                        "          Currency as string,",
                        "          Captured as string,",
                        "          {Converted Amount} as string,",
                        "          {Converted Amount Refunded} as string,",
                        "          {Converted Currency} as string,",
                        "          Description as string,",
                        "          Fee as string,",
                        "          Status as string,",
                        "          {Seller Message} as string,",
                        "          {Card ID} as string,",
                        "          {Customer ID} as string,",
                        "          {Invoice ID} as string,",
                        "          Transfer as string,",
                        "          {price_id (metadata)} as string,",
                        "          {product_id (metadata)} as string",
                        "     ),",
                        "     allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     ignoreNoFilesFound: false) ~> PayPalTransactions",
                        "source(output(",
                        "          id as string,",
                        "          Name as string,",
                        "          {Date (UTC)} as string,",
                        "          {Tax Code} as string",
                        "     ),",
                        "     allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     ignoreNoFilesFound: false) ~> PayPalProducts",
                        "PayPalTransactions, PayPalProducts join({product_id (metadata)} == PayPalProducts@id,",
                        "     joinType:'left',",
                        "     matchType:'exact',",
                        "     ignoreSpaces: false,",
                        "     broadcast: 'auto')~> PayPalJoin",
                        "PayPalJoin filter(equals(Status, \"Paid\")) ~> StatusFilter",
                        "StatusFilter sink(allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     format: 'table',",
                        "     store: 'sqlserver',",
                        "     schemaName: 'staging',",
                        "     tableName: 'PayPalData',",
                        "     insertable: true,",
                        "     updateable: false,",
                        "     deletable: false,",
                        "     upsertable: false,",
                        "     skipDuplicateMapInputs: true,",
                        "     skipDuplicateMapOutputs: true,",
                        "     errorHandlingOption: 'stopOnFirstError',",
                        "     mapColumn(",
                        "          Transaction_id = PayPalTransactions@id,",
                        "          {Created date (UTC)},",
                        "          Amount,",
                        "          {Amount Refunded},",
                        "          Currency,",
                        "          Captured,",
                        "          {Converted Amount},",
                        "          {Converted Amount Refunded},",
                        "          {Converted Currency},",
                        "          Description,",
                        "          Fee,",
                        "          Status,",
                        "          {Seller Message},",
                        "          {Card ID},",
                        "          {Customer ID},",
                        "          {Invoice ID},",
                        "          Transfer,",
                        "          {price_id (metadata)},",
                        "          {product_id (metadata)},",
                        "          Product_id = PayPalProducts@id,",
                        "          Name,",
                        "          {Date (UTC)},",
                        "          {Tax Code}",
                        "     )) ~> TransferToDB"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/PayPalPayments')]",
                "[concat(variables('factoryId'), '/datasets/PayPalProducts')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PayPalTransformationPipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "PayPalTransformation",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "PayPalTransformation",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "PayPalTransactions": {},
                                    "PayPalProducts": {},
                                    "TransferToDB": {}
                                }
                            },
                            "staging": {},
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-10-10T23:30:06Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/dataflows/PayPalTransformation')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PayPalCopyPipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "PayPalCopyPipeline",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "1:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobStorageWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".txt"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DelimitedText2",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "PayPalPayments",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Copy data1",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "PayPalCopyPipeline",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobStorageWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".txt"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "DelimitedText4",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "PayPalProducts",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "PayPal Transform Pipeline",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Copy data1",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "PayPalTransformationPipeline",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Copy Data Failure",
                        "type": "Fail",
                        "dependsOn": [
                            {
                                "activity": "Copy data1",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            },
                            {
                                "activity": "PayPalCopyPipeline",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "message": "PayPalPipelineFailure",
                            "errorCode": "404"
                        }
                    },
                    {
                        "name": "Data flow1",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "PayPal Transform Pipeline",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "ExportToCsv",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "source1": {},
                                    "export": {}
                                }
                            },
                            "staging": {},
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-10-11T10:39:54Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DelimitedText2')]",
                "[concat(variables('factoryId'), '/datasets/PayPalPayments')]",
                "[concat(variables('factoryId'), '/datasets/DelimitedText4')]",
                "[concat(variables('factoryId'), '/datasets/PayPalProducts')]",
                "[concat(variables('factoryId'), '/pipelines/PayPalTransformationPipeline')]",
                "[concat(variables('factoryId'), '/dataflows/ExportToCsv')]"
            ]
        }
    ]
}